header {
    display: flex;
    justify-content: space-between;
    background-color: #BB6BD9;
    border-bottom: 10px solid #000;
    padding:10px 20px 10px 20px;
}

nav {
    text-align: right;
}

a {
    display: inline-flex;
    align-items: center;
    color: #fff;
    font-family: "fira code";
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a::before {
    content: "";
    background-color: black;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

#button {
    display: inline-block;
    background-color: #f25a70;
    height: 20px;
    line-height: 20px;
    padding:18px 20px;
    box-shadow:5px 5px 1px black;
    margin-right: 0px;
}

